.login-wrap {
  background-color: #f8f8f8;
  height: 100vh;
  padding-bottom: 20vh;
}
.login-box {
  width: 360px;
  background-color: #fff;
  padding: 30px;
}
.login-box .title {
  text-align: center;
  color: #21b5ff;
}
.login-input-icon {
  color: #bfbfbf;
}
.login-btn {
  width: 100%;
}